@use '../styles/vars';
@use '../styles/mixins';
@import 'reset-css';

html,
body,
#root {
  height: 100%;
  min-width: 100%;
  width: 100%;
  position: relative;
}

body {
  font-family: vars.$fontFamily;
  font-size: vars.$fontSize;
  color: vars.$textColor;
  line-height: vars.$lineHeight;
  background-color: vars.$backgroundColor;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  @include mixins.link();
  text-decoration: none;
}
