PORT=5000
DATABASE_URL=postgresql://admin:admin@localhost:5432/calendar-task-management?schema=public
JWT_SECRET=local-jwt-secret
PASSWORD_SALT=local-password-salt
INITIAL_ADMIN_EMAIL=admin@admin.com
INITIAL_ADMIN_PASSWORD=admin
WEBAPP_URL=http://localhost:8000
RUSENDER_API_KEY=secret
FROM_EMAIL_NAME=CalendarTaskManagement
FROM_EMAIL_ADDRESS=ctm@calendartaskmanagement.ru
